# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit Test / Coverage Reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Environment Configurations
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx Documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pipenv
# Pipfile.lock is generally recommended to be committed, uncomment to ignore if desired
#Pipfile.lock

# poetry
# poetry.lock is generally recommended to be committed, uncomment to ignore if desired
#poetry.lock
poetry.toml

# pdm
.pdm.toml
.pdm-python
.pdm-build/
pdm.lock

# PEP 582 (used by e.g., pdm and pyflow)
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# ruff
.ruff_cache/

# Mac, ignore all DS_Store files
.DS_Store

query_ids_to_remove_from_eval.tsv
IR2-env/

cache/

# avoid logging wandb files
wandb/
reranker/

# trec-covid dataset ouputs
tmp-run-trec-covid.txt
topics-trec-covid.tsv
trec-covid-queries-filtered.jsonl
trec-covid-queries.jsonl
trec-covid-triples.tsv
cache_plus/
trec-covid-queries_HF.jsonl
